<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="x.x.x"
      android:installLocation="auto"
      android:versionName="1.0"
      android:versionCode="1">
    <application android:icon="@drawable/theme_icon" android:label="@string/theme_name">
    	<activity android:name=".main"
                  android:label="@string/theme_name"  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.sloy.tictacdroide.THEMES" />
                <category android:name="android.intent.category.DEFAULT" />    
            </intent-filter>
        </activity>
	</application>
	<uses-sdk android:minSdkVersion="4"/>
	<supports-screens android:anyDensity="false" />
</manifest>